mixin card(obj)
	- var headingId = obj.parentId + '-heading-' + obj.number
	- var bodyId = obj.parentId + '-collapse-' + obj.number

	// Bootstrap card
	article.card.card-custom&attributes(attributes)
		.card-header(id=headingId role='tab')
			.card-title
				a.card-link(
				role='button' 
				data-bs-toggle='collapse'
				href='#' + bodyId
				aria-controls=bodyId 
				aria-expanded=obj.show ? 'true' : 'false' 
				class={'collapsed' : !obj.show})
					=obj.header
					if(obj.arrow !== false)
						.card-arrow

		.collapse(
		id=bodyId class={'show': obj.show} 
		role='tabpanel' 
		aria-labelledby=headingId 
		data-bs-parent='#' + (obj.parentId ?  obj.parentId : ''))
			.card-body
				block
					
		if ( obj.shape )
			+svg-faq.card-shape
