mixin pt-creative(obj)
	// Pricing Table Creative
	.pt-creative-group&attributes(attributes)
		.pt-creative-aside
			h3.pt-creative-aside-title Key #[br] Features
			ul.pt-creative-features
				li Online Taxi Booking
				li Private Driver
				li Airport Transfer
				li Baggage Transfer
				li Corporate Taxi
				li Delivery Service

			.pt-creative-footer: .pt-creative-footer-inner

		.pt-creative-main
			// Owl Carousel
			.owl-carousel(
				data-items='1',
				data-md-items='2',
				data-lg-items='3',
				data-xl-items='4',
				data-stage-padding='0',
				data-loop='false',
				data-margin='15',
				data-animation-in='fadeIn',
				data-animation-out='fadeOut',
				data-mouse-drag='false',
				data-owl!={
					nav: true
				}
			)
				article.pt-creative
					h4.pt-creative-title.text-primary Basic
					.pt-creative-price-outer
						.pt-creative-price
							.pt-creative-price-inner(aria-hidden='false')
								.pt-creative-price-currency $
								.pt-creative-price-value 10
								.pt-creative-price-small 99

							.pt-creative-price-inner(aria-hidden='true')
								.pt-creative-price-currency $
								.pt-creative-price-value 125
								.pt-creative-price-small 88
						.pt-creative-price-caption
							span(aria-hidden='false') per month
							span(aria-hidden='true') per year
					.pt-creative-divider
					p.pt-creative-text Great for daily short-distance trips
					ul.pt-creative-features
						li.icon.mdi.mdi-check
						li.icon.mdi.mdi-check
						li.icon.mdi.mdi-check
						li.icon.mdi.mdi-close(aria-disabled='true')
						li.icon.mdi.mdi-close(aria-disabled='true')
						li.icon.mdi.mdi-close(aria-disabled='true')

					.pt-creative-footer
						.pt-creative-footer-inner
							a.button.button-default-outline.button-icon.button-icon-right.button-winona(href='#')
								span.icon.mdi.mdi-arrow-right
								| Select Plan

				article.pt-creative
					h4.pt-creative-title.text-primary Standard
					.pt-creative-price-outer
						.pt-creative-price
							.pt-creative-price-inner(aria-hidden='false')
								.pt-creative-price-currency $
								.pt-creative-price-value 20
								.pt-creative-price-small 99

							.pt-creative-price-inner(aria-hidden='true')
								.pt-creative-price-currency $
								.pt-creative-price-value 251
								.pt-creative-price-small 88
						.pt-creative-price-caption
							span(aria-hidden='false') per month 
							span(aria-hidden='true') per year
					.pt-creative-divider
					p.pt-creative-text Perfectly fits all types of clients
					ul.pt-creative-features
						li.icon.mdi.mdi-check
						li.icon.mdi.mdi-check
						li.icon.mdi.mdi-check
						li.icon.mdi.mdi-check
						li.icon.mdi.mdi-close(aria-disabled='true')
						li.icon.mdi.mdi-close(aria-disabled='true')

					.pt-creative-footer
						.pt-creative-footer-inner
							a.button.button-secondary.button-icon.button-icon-right.button-winona.button-shadow(href='#')
								span.icon.mdi.mdi-arrow-right
								| Select Plan

				article.pt-creative
					h4.pt-creative-title.text-primary Business
					.pt-creative-price-outer
						.pt-creative-price
							.pt-creative-price-inner(aria-hidden='false')
								.pt-creative-price-currency $
								.pt-creative-price-value 32 
								.pt-creative-price-small 99
							.pt-creative-price-inner(aria-hidden='true')
								.pt-creative-price-currency $
								.pt-creative-price-value 395 
								.pt-creative-price-small 88
						.pt-creative-price-caption
							span(aria-hidden='false') per month 
							span(aria-hidden='true') per year
					.pt-creative-divider
					p.pt-creative-text Full set of corporate transportation services

					ul.pt-creative-features
						li.icon.mdi.mdi-check
						li.icon.mdi.mdi-check
						li.icon.mdi.mdi-check
						li.icon.mdi.mdi-check
						li.icon.mdi.mdi-check
						li.icon.mdi.mdi-check

					.pt-creative-footer
						.pt-creative-footer-inner
							a.button.button-default-outline.button-icon.button-icon-right.button-winona(href='#')
								span.icon.mdi.mdi-arrow-right
								| Select Plan

				article.pt-creative
					h4.pt-creative-title.text-primary Premium
					.pt-creative-price-outer
						.pt-creative-price
							.pt-creative-price-inner(aria-hidden='false')
								.pt-creative-price-currency $
								.pt-creative-price-value 45
								.pt-creative-price-small 99

							.pt-creative-price-inner(aria-hidden='true')
								.pt-creative-price-currency $
								.pt-creative-price-value 551
								.pt-creative-price-small 88
						.pt-creative-price-caption
							span(aria-hidden='false') per month 
							span(aria-hidden='true') per year

					.pt-creative-divider
					p.pt-creative-text Complete set of services provided by ETAXI
					ul.pt-creative-features
						li.icon.mdi.mdi-check
						li.icon.mdi.mdi-check
						li.icon.mdi.mdi-check
						li.icon.mdi.mdi-check
						li.icon.mdi.mdi-check
						li.icon.mdi.mdi-check

					.pt-creative-footer
						.pt-creative-footer-inner
							a.button.button-default-outline.button-icon.button-icon-right.button-winona(href='#')
								span.icon.mdi.mdi-arrow-right
								| Select Plan
