// Owl Carousel
.owl-carousel.owl-carousel-centered(
	data-items='2',
	data-sm-items='3',
	data-md-items='4',
	data-lg-items='5',
	data-stage-padding='0',
	data-loop='true',
	data-margin='30',
	data-mouse-drag='false',
	data-owl!={
		dots: true
	}
)
	.wow.clipInLeft: a.link-image-1(href='#'): +png('investor-1-88x77')
	.wow.clipInLeft(data-wow-delay='.1s'): a.link-image-1(href='#'): +png('investor-2-73x78')
	.wow.clipInLeft(data-wow-delay='.2s'): a.link-image-1(href='#'): +png('investor-3-96x62')
	.wow.clipInLeft(data-wow-delay='.3s'): a.link-image-1(href='#'): +png('investor-4-78x80')
	.wow.clipInLeft(data-wow-delay='.4s'): a.link-image-1(href='#'): +png('investor-5-87x76')
